<% content_for :title do %>Wordpress Stats<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="downloads-zendesk" data-view="Downloads" data-title="Zendesk Plugin Downloads" data-value="0"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="downloads-zopim-live-chat" data-view="Downloads" data-title="Zopim Plugin Downloads" data-value="0"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="downloads-inbox-by-zendesk" data-view="Downloads" data-title="Inbox Plugin Downloads" data-value="0"></div>
    </li>
  </ul>
</div>
