<% content_for :title do %>Wordpress Stats<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/mentor.png"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="downloads-zendesk" data-view="Number" data-title="Zendesk Plugin Downloads" data-value="0"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="downloads-zopim-live-chat" data-view="Number" data-title="Zopim Plugin Downloads" data-value="0"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="downloads-inbox-by-zendesk" data-view="Number" data-title="Inbox Plugin Downloads" data-value="0"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1" >
      <div data-id="version-downloads-zendesk" data-view="List" data-unordered="true" data-title="Zendesk Downloads per version"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="version-downloads-zopim-live-chat" data-view="List" data-unordered="true" data-title="Zopim Downloads per version"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="daily-downloads-zendesk" data-view="Rickshawgraph" data-title="Average Zendesk Daily Downloads" data-hover="true" data-color-scheme="near-rainbow"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="daily-downloads-zopim-live-chat" data-view="Rickshawgraph" data-title="Average Zopim Daily Downloads" data-hover="true" data-color-scheme="near-rainbow"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="daily-downloads-inbox-by-zendesk" data-view="Rickshawgraph" data-title="Average Inbox Daily Downloads" data-hover="true" data-color-scheme="near-rainbow"></div>
    </li>
  </ul>
</div>
